.navDesktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 44px;
  justify-items: center;
  align-items: center;
  background-color: #393939;
  padding: 0 2rem;
  color: #fff;

  p {
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 2px;
  }
}

.navRight {
  display: flex;
  gap: 15px;
  justify-self: right;
  // margin-bottom: 2px;
}
.navLeft {
  display: flex;
  gap: 25.5px;
  justify-self: left;
  // margin-bottom: 2px;
  p {
    font-weight: 400;
  }
}
.cartNav,
.loginNav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navIcon,
.mobileNav,
.websiteTitle {
  display: none;
}

// MOBILE *********

@media (max-width: 600px) {
  .navDesktop {
    display: none;
  }
  .mobileNav {
    display: block;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
  }

  .mainNavItems {
    background-color: #fff;
    color: #393939;

    p {
      display: flex;
      color: #000 !important;
      // border-bottom: #eee thin solid !important;
      align-items: center;
      gap: 8px;
      margin: 0 40px;
      padding: 18px 0 14px;
    }
  }

  .boxNav {
    max-height: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.5s all;
    position: relative;
    padding-bottom: 8px;

    a {
      display: block;
      padding: 8px;
      margin: 0 56px;
    }
  }
  .openBoxNav {
    max-height: 100px;
    opacity: 1;
    z-index: 999;
  }

  .secondryNavItems {
    background-color: #393939;
    a {
      display: block;
      padding: 1rem 0;
      margin: 0 40px;
      border-bottom: #424245 thin solid;
      color: #eee;
    }
  }

  .headerNavMobile {
    height: 48px;
    padding: 0 6%;
    display: flex;
    background-color: #393939;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s all;
  }

  .mobileNavOpener {
    position: absolute;
    top: 48px;
    transform: scaleY(0);
    overflow-y: scroll;
    height: calc(100vh - 48px);

    z-index: -1;
    width: 100%;
    transition: 0.3s all;
    transform-origin: top;
  }

  .openNav {
    transform: scaleY(1);
    z-index: 9999;
  }

  .websiteTitle {
    background-color: #393939;
    text-align: center;
    padding: 12px 0 10px;
    border-bottom: none;
    color: #fff;
    display: block;
    margin-top: 48px;
  }

  // HANBURGER
  .navIcon {
    display: initial;
    width: 20px;
    height: 26px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }

  .navIcon::after,
  .navIcon::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .navIcon::before {
    top: 8px;
  }

  .navIcon::after {
    top: 16px;
  }
  .openIcon.navIcon::after {
    transform: rotate(45deg);
    top: 12px;
    left: 3px;
  }
  .openIcon.navIcon::before {
    transform: rotate(-45deg);
    top: 12px;
    left: 3px;
  }
}
