.title {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 1rem;
  img {
    width: 55px;
  }
  h2 {
    font-size: 48;
  }
}

@media (max-width: 600px) {
  .title {
    width: 300px;
  }
}
